img{
    width: auto;
    height: 80%;
    background: rgba(255, 255, 255, 0.8);
}
.ant-layout-header{
    background: rgb(80, 116, 238);
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #414b5b;
}
.ant-menu.ant-menu-dark{
    background:#414b5b;
}
.userlayout{
    min-height: 100vh;
}
.header{
    justify-content: space-between;
}