img{
    width: auto;
    height: 80%;
    background: rgba(255, 255, 255, 0.8);
}
.ant-layout-header{
    background: rgb(80, 116, 238);
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #414b5b;
}
.ant-menu.ant-menu-dark{
    background:#414b5b;
}
.ant-layout-header{
  padding: 0 20px;
}
.userlayout{
    min-height: 100vh;
}
.header{
    justify-content: space-between;
    a{
        display: block;
        width: 100px;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
    }
}